<header class="bg-background-surface py-3 px-6 border-b border-border-light">
<div class="flex max-w-7xl mx-auto">
  <div class="flex items-center gap-2">
    <img class="size-[18px]" src="images/icon-logo.svg" alt="logo" />
    <h1 class="heading-medium">GoTask</h1>
  </div>
  <nav class="ml-auto flex gap-6">
    <button class="bg-white p-2 rounded-xl">
      <img class="size-5" src="images/icon-notification.svg" alt="notification">
    </button>
    <div class="flex items-center gap-2">
      <img class="size-7" src="images/icon-user-avatar.svg" alt="user_avatar">
      <span class="label-medium">Jennie K.</span>
      <button class="size-4">
        <img class="size-4" src="images/icon-sign-out.svg" alt="sign_out">
      </button>
    </div>
  </nav>
</div>
</header>
