<div class="p-3 mb-6 flex overflow-x-auto -gap-[14px] sm:gap-[43px] scrollbar-hidden">
  <!-- Todo Column -->
  <div class="mb-6 flex-1 py-3 px-6 min-w-60 flex flex-col gap-6">
    <div class="py-2 border-b border-border-light flex items-center gap-1">
      <h1 class="label-medium text-text-heading">To do</h1>
      <div class="bg-text-heading size-6 rounded-full flex items-center justify-center">
        <span class="label-extra-small text-background-light">0</span>
      </div>
    </div>
    <div class="flex flex-col gap-4">
      <!-- Task -->
      <div class="bg-accent-brand-light p-3"></div>
      <!-- Task -->
      <div class="bg-accent-brand-light p-3"></div>
      <!-- Task -->
      <div class="bg-accent-brand-light p-3"></div>
    </div>
  </div>
  <!-- Doing Column -->
  <div class="mb-6 flex-1 py-3 px-6 min-w-60 flex flex-col gap-6">
     <div class="py-2 border-b border-border-light flex items-center gap-1">
      <h1 class="label-medium text-text-heading">Doing</h1>
      <div class="bg-accent-orange size-6 rounded-full flex items-center justify-center">
        <span class="label-extra-small text-background-light">0</span>
      </div>
    </div>
    <div class="flex flex-col gap-4">
      <!-- Task -->
      <div class="bg-accent-brand-light p-3"></div>
      <!-- Task -->
      <div class="bg-accent-brand-light p-3"></div>
      <!-- Task -->
      <div class="bg-accent-brand-light p-3"></div>
    </div>
  </div>
  <!-- Done Column -->
  <div class="mb-6 flex-1 py-3 px-6 min-w-60 flex flex-col gap-6">
     <div class="py-2 border-b border-border-light flex items-center gap-1">
      <h1 class="label-medium text-text-heading">Done</h1>
      <div class="bg-accent-green size-6 rounded-full flex items-center justify-center">
        <span class="label-extra-small text-background-light">0</span>
      </div>
    </div>
    <div class="flex flex-col gap-4">
      <!-- Task -->
      <div class="bg-accent-brand-light p-3"></div>
      <!-- Task -->
      <div class="bg-accent-brand-light p-3"></div>
      <!-- Task -->
      <div class="bg-accent-brand-light p-3"></div>
    </div>
  </div>
</div>
