@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  font-family: "Archivo", sans-serif;
}

@theme {
  --color-text-heading: #080B12;
  --color-text-paragraph: #374151;
  --color-text-span: #9CA3AF;
  --color-text-placeholder: #89919F;
  --color-text-invert: #FFFFFF;

  --color-background-light: #FFFFFF;
  --color-background-dark: #D7D8D8;
  --color-background-surface: #FAFAFA;

  --color-accent-brand: #2A89EF;
  --color-accent-brand-light: #ECF4FE;
  --color-accent-brand-dark: #0A53A1;
  --color-accent-red: #E61E32;
  --color-accent-green: #15BE78;
  --color-accent-orange: #FF850A;

  --color-border-dark: #636D7E;
  --color-border-light: #D1D5DB;

  --leading-base: 1.6;
  --leading-heading: 1.3;
}

@layer components {
  .heading-large {
    @apply text-2xl leading-heading font-bold;
  }

  .heading-medium {
    @apply text-[18px] leading-heading font-bold;
  }

  .paragraph-large {
    @apply text-base leading-base font-normal;
  }

  .paragraph-medium {
    @apply text-sm leading-base font-normal;
  }

  .paragraph-small {
    @apply text-xs leading-base font-normal;
  }

  .label-medium {
    @apply text-base leading-base font-semibold;
  }

  .label-small {
    @apply text-sm leading-base font-semibold;
  }

  .label-extra-small {
    @apply text-xs leading-base font-semibold;
  }

  .link {
    @apply text-xs leading-base font-semibold;
  }
}
